# to be downloaded over globus:
data
*.png
*.pdf
__pycache__
*.sw*
wandb
out
tb_logs
sr_results/*
sr_out
models
*.ckpt
*.pt
*.npy
pickles/
graphics/
# ignore everything in results
results/**
# but include a few models we want to upload, results, etc
!results/24880_0/
